<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator BMI</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div id="header">
    Kalkulator BMI
</div>
<form method="post" action="/result" id="bmi-form" name="bmiForm">
    <input type="text" placeholder="Waga" name="weight" class="text-box"><br>
    <input type="text" placeholder="Wzrost" name="height" class="text-box"><br>
    <input type="text" placeholder="Płeć" name="sex" class="text-box"><br>
    <input type="submit">
</form>
</body>
</html>